.img-wrapper {
    height: 200px;
    overflow: hidden;
}

.img-wrapper > img {
    position: relative;
    top: -200px;
}


/* --- PANEL HEADINGS ----- */

.panel-default > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

/* MESAGING */

.form-group textarea {
    height: 80px;
    width: 100%;
}