iframe {
    width: 100%;
    max-width: 600px;
    height: 300px;
}

.login {
    min-width: 360px;
    max-width: 500px;
}

.buttons {
    margin-top: 10px;
    margin-left: 10px;
}

.buttons a {
    padding-left: 0;
    padding-right: 0;
    margin-left: -10px;
}

.events .col-md-4, .stats .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}
.stats p {
    margin: 10px 0 0 0;
}

.stats ul {
    padding-left: 0;
}

.col-xs-12 > a {
    width: 100%;
}


ul {
    list-style-type: none;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

.cities {
    overflow-x: visible;
}
.stats li, .stats p {
    white-space:nowrap;
}
.events a {
    padding-left: 0;
    padding-right: 0;
    white-space: pre-wrap;
}

.tile .panel-default > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    box-sizing: border-box;
    padding: 0;
}

.tile .panel-heading:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.tile .panel-heading > a {
    color: white;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.tile .panel-body > a {
    text-align: center;
}

.tile .stats.panel {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.tile .events > h4 {
    margin-left: 5px;
}

.tile .login.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px;
}



